.banner .inner{
    height: 200px;
}

.banner .sw-banner {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.banner .swiper-slide {
    background-color: #252525;
    color: #e8eddf;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s;
}

.banner .swiper-slide:hover{
    opacity: 0.8;
}

.banner .banner1{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.banner .banner1 img:first-child{
    position: absolute;
    left: 0;
    width: 500px;
}

.banner .banner1 img:last-child{
    position: absolute;
    right: 0;
    width: 400px;
}

.banner .banner1 .banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .banner1 .banner-txt p{
    font-size: 20px;
    margin-bottom: 30px;
}

.banner .banner-txt a{
    padding: 5px 15px;
    font-weight: 700;
    background-color: rgb(194, 116, 0);
    border-radius: 50px;
}

.banner .banner1 .banner-txt p span{
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    position: relative;
}

.banner .banner1 .banner-txt p span:last-child::after{
    content: "★";
    position: absolute;
    top: -10px;
    right: -30px;
    rotate: -45deg;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: rgb(255, 203, 125);
}

.banner .banner2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner2 .banner-txt{
    display: flex;
    align-items: center;
    margin-left: 12%;
}

.banner .banner2 .banner-txt p{
    font-size: 20px;
}

.banner .banner2 .banner-txt span{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}

.banner .banner2 .banner-txt span b{
    font-size: 45px;
    font-weight: 900;
    color: rgb(255, 60, 60);
}

.banner .banner2 .banner-txt a{
    margin-left: 50px;
    margin-top: 40px;
}

.banner .banner2 img{
    width: 50%;
    margin-right: 20px;
}

.banner .banner3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    position: relative;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 15%, #252525 90%);
}

.banner .banner3 .banner-txt{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.banner .banner3 .banner-txt p{
    font-size: 18px;
}

.banner .banner3 img{
    width: 50%;
    margin-bottom: 20px;
    rotate: -5deg;
}

.banner .banner3 .banner-txt span{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}
.banner .swiper-pagination{
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    
}
.banner .swiper-pagination .swiper-pagination-bullet{
    background-color: black;
    opacity: 0.5;
}

.banner .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #e8eddf;
}

/* 반응형 */
@media all and (max-width: 1024px) {
    /* banner2 */
    .banner .banner2 .banner-txt{
        margin-left: 7%;
    }
    .banner .banner2 .banner-txt p{
        font-size: 18px;
    }
    .banner .banner2 .banner-txt span{
        font-size: 23px;
        font-weight: 900;
    }
    .banner .banner2 .banner-txt span b{
        font-size: 38px;
    }
    .banner .banner2 .banner-txt a{
        margin-left: 30px;
        margin-top: 40px;
    }
    
    /* banner3 */
    .banner .banner3{
        padding: 0 50px 0 50px;
    }
    .banner .banner3 .banner-txt p{
        font-size: 15px;
    }
}

/* mobile */
@media all and (max-width: 768px) {
    /* banner1 */
    .banner .banner1 img:first-child{
        bottom: 0;
        width: 400px;
    }
    .banner .banner1 img:last-child{
        bottom: 0;
        width: 300px;
    }
    .banner .banner1 .banner-txt p{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .banner .banner1 .banner-txt p span{
        font-size: 27px;
    }
    
    /* banner2 */
    .banner .banner-txt a{
        padding: 3px 10px;
        font-weight: 700;
        border-radius: 50px;
        font-size: 14px;
    }
    .banner .banner2 .banner-txt{
        margin-left: 5%;
    }
    .banner .banner2 .banner-txt p{
        font-size: 15px;
    }
    .banner .banner2 .banner-txt span{
        font-size: 20px;
        font-weight: 900;
    }
    .banner .banner2 .banner-txt span b{
        font-size: 33px;
    }
    .banner .banner2 .banner-txt a{
        position: absolute;
        left: 1%;
        bottom: 30px;
    }
    
    /* banner3 */
    .banner .banner3{
        padding: 0 40px 0 30px;
    }
    .banner .banner3 .banner-txt span{
        font-size: 22px;
    }
    .banner .banner3 .banner-txt p{
        font-size: 12px;
    }
}
@media all and (max-width: 480px) {
    .banner .inner{
        height: 400px;
    }
    
    /* banner1 */
    .banner .banner1 img:first-child{
        width: 300px;
    }
    .banner .banner1 img:last-child{
        width: 250px;
    }
    .banner .banner1 .banner-txt{
        width: 250px;
        text-align: center;
        margin-bottom: 70px;
    }
    .banner .banner1 .banner-txt p{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 50px;
    }
    .banner .banner1 .banner-txt a{
        padding: 5px 15px;
        font-size: 16px;
    }
    .banner .banner1 .banner-txt p span:last-child::after{
        right: -40px;
    }
    
    /* banner2 */
    .banner .banner2{
        justify-content: center;
        align-items: end;
    }
    .banner .banner2 img{
        max-width: none;
        width: 500px;
        position: absolute;
        top: -100px;
        margin: 0;
    }
    .banner .banner2 .banner-txt{
        margin-left: 0;
        text-align: center;
        margin-bottom: 100px;
    }
    .banner .banner2 .banner-txt p{
        font-size: 20px;
    }
    .banner .banner2 .banner-txt span{
        font-size: 25px;
        font-weight: 700;
    }
    .banner .banner2 .banner-txt span b{
        font-size: 40px;
    }
    .banner .banner2 .banner-txt a{
        position: absolute;
        margin: 0;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 30px;
        padding: 5px 15px;
        font-size: 16px;
    }
    
    /* banner3 */
    .banner .banner3{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .banner .banner3 img{
        max-width: none;
        width: 110%;
    }
    .banner .banner3 .banner-txt{
        text-align: center;
        align-items: center;
    }
    .banner .banner3 .banner-txt span{
        font-size: 23px;
        font-weight: 700;
    }
    .banner .banner3 .banner-txt p{
        font-size: 14px;
        margin-top: 10px;
    }
}

@media all and (max-width: 320px) {
    .banner .banner3 .banner-txt span{
        font-size: 17px;
    }
    .banner .banner3 .banner-txt p{
        font-size: 12px;
    }
}