.counting{
    width: 100%;
    height: 200px;
    background-color: #f5cb5c;
    color: #000;
    margin-bottom: 100px;
}
.counting-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.counting-info{
    border-right: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}
.counting-info:last-child{
    border: 0;
}