.footer{
    width: 100%;
    height: 150px;
    background-color: #111;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin: 0 auto;
    padding:20px 0 ;
    margin-top: 100px;
}
.footer .inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-left span{
    font-size: 13px;
}
.footer-logo{
    width: 80px;
}
#language-select{
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #111;
    color: #fff;
    margin-top: 25px;
}
.footer-center{
    text-align: center;
}
.footer-info{
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 15px;
}
.footer-info a:hover{
    color: #a8a8a8;
}
.footer-center .footer-copy{
    line-height: 25px;
}
.footer-center .footer-copy p{
    font-size: 12px;
    margin-top: 23px;
    color: #a8a8a8;
}
.footer-right{
    height: calc(90% / 3);
    display: flex;
    flex-direction: column;
}
.footer-right button{
    padding: 10px;
    border: 0;
    font-weight: bold;
    color: #111;
}
.footer-sns{
    display: block;
    margin-bottom: 13px;
}
.footer-sns h1{
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #fff;
}
.footer-sns i{
    font-size: 25px;
    margin: 0 20px 35px 0;
}
.footer-right span{
    display: block;
    font-size: 12px;
    color: #a8a8a8;
}
@media all and (max-width:768px){
    .footer{
        height: 400px;
    }
    .footer .inner{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-left span{
        font-size: 12px;
    }
    #language-select{
        width: 100%;
    }
    .footer-center{
        margin-top: 20px;
    }
    .footer-info{
        font-size: 13px;
        flex-wrap: wrap;
        gap: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .footer-sns i{
        margin:0;
    }
}
@media all and (max-width:320px){
    .footer{
        height: 450px;
    }
    .footer .inner{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-left span{
        font-size: 12px;
    }
    #language-select{
        width: 100%;
        margin-top: 10px;
        height: 35px;
    }
    .footer-center{
        margin-top: 20px;
    }
    .footer-info{
        font-size: 13px;
        gap: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .footer-sns i{
        margin:0;
    }
}