@charset "utf-8";
section {
  margin-bottom: 0;
}
/* 클래스 배너 */
.group-header {
  width: 100%;
  padding-top: 150px;
  position: relative;
}
.group-header .bg-title {
  position: absolute;
  top: -10%;
  right: 2%;
  font-size: 100px;
  font-weight: 900;
  z-index: -1;
  opacity: 0.5;
}
.group-header h2 {
  font-size: 30px;
  font-weight: bold;
  color: #e8eddf;
}
.group-header .sub-inner {
  margin-top: 50px;
}
.group-banner {
  width: 100%;
  margin-top: 33px;
  padding: 30px 35px;
  border-radius: 25px;
  background: url("../images/group-banner.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
}
.group-banner-left p {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.2px;
}
.group-banner-left p:first-child {
  font-weight: bold;
}
.group-banner-right {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
}
.group-banner-right button {
  background-color: transparent;
  border: none;
  font-family: "NanumSquare";
}
.group-banner-right button a:hover {
  background-color: #c29b31;
}
.group-banner-right button a {
  display: block;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #f5cb5c;
  color: #000;
  border: none;
  transition: 0.3s;
}
/* 게시판 탭 */
.board-tap .taps {
  width: 100%;
  margin-top: 30px;
  color: #e8eddf;
}
.board-tap .taps ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.board-tap .taps ul li {
  font-size: 16px;
  padding: 10px 15px;
}
.board-tap .taps ul li:nth-child(3) {
  padding-right: 30px;
}
.board-tap .taps a.active {
  font-weight: bold;
  color: #f5cb5c;
}
.board-tap .taps a:hover {
  color: #f7db8f;
}
.searchbox {
  padding: 0 25px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #242423;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 40px;
}
.searchbox input {
  font-size: 15px;
  border: none;
}
.searchbox i {
  color: #9d9d9d;
  cursor: pointer;
}
/* 게시판 */
.board {
  padding-bottom: 100px;
}
.board-wrap {
  /* min-height: 845px; */
}
.board-list {
  /* min-height: 720px; */
  padding-top: 70px;
  font-size: 16px;
  color: #fff;
  color: #e8eddf;
  text-align: center;
}
.board-list h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.board-list-title {
  width: 100%;
  border-top: 1px solid;
  margin-top: 15px;
}
.board-list-title tr th:nth-child(1),
.board-list-title tr td:nth-child(1),
.board-list-title tr th:nth-child(3),
.board-list-title tr td:nth-child(3),
.board-list-title tr th:nth-child(4),
.board-list-title tr td:nth-child(4),
.board-list-title tr th:nth-child(5),
.board-list-title tr td:nth-child(5),
.board-list-title tr th:nth-child(6),
.board-list-title tr td:nth-child(6) {
  width: 10%;
}
.board-list-title tr th:nth-child(2),
.board-list-title tr td:nth-child(2) {
  width: 40%;
}
.board-list-title th {
  font-size: 16px;
  font-weight: bold;
}
.board-list-title thead {
  border-bottom: 3px solid #616161;
}
.board-list-title tr td,
.board-list-title tr th {
  padding: 20px 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-list-title #post-notice tr td:first-child,
.board-list-title #post-notice tr td:nth-child(2) {
  font-weight: 900;
}
.board-list-title tbody tr {
  border-bottom: 1px solid #555752;
}
.board-list-title tbody tr td:nth-child(1) {
  font-size: 15px;
}
.board-list-title tbody tr td:nth-child(2) {
  text-align: left;
  padding: 20px 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.board-list-title tbody tr td:last-child {
  color: blue;
}
.board-list-title tbody tr td img {
  width: 15%;
  margin-left: 5px;
}
.board-list-title .group-tag {
  display: inline-block;
  border-radius: 50px;
  font-size: 13px;
  line-height: 15px;
  padding: 4px 8px;
  background-color: royalblue;
  color: #e8eddf;
}
#postList > tr:hover {
  background-color: #242423;
}
#post-notice > .notice:hover {
  background-color: #e2c77b;
}
.paging {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  font-size: 14px;
  color: #666;
}
.paging i:hover {
  color: #f5cb5c;
}
.paging a {
  margin: 0 10px;
  cursor: pointer;
}
.paging-num.active {
  font-weight: bold;
  color: #f5cb5c;
  border-bottom: 1px solid #666;
}
.paging-num:hover {
  color: #f5cb5c;
  border-bottom: 1px solid #666;
}
.board-btn {
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #000;
  font-family: "NanumSquare";
  font-weight: 700;
}
.board-btn a {
  display: inline-block;
  background-color: #f5cb5c;
  padding: 15px 50px;
  transition: 0.3s;
}
.board-btn a:hover {
  background-color: #c29b31;
}
/* 필독 */
.board-list-title .notice {
  background-color: #ffdf87;
  color: #000;
  font-weight: 700;
}
.board-list-title .notice td:first-child {
  color: rgb(255, 46, 46);
}
.board-list-title .notice td i {
  padding: 0;
  overflow: visible;
  margin-right: 3px;
  font-size: 14px;
}
.footer {
  margin-top: 0;
}

@media all and (max-width: 1024px) {
  .group-header .bg-title {
    font-size: 95px;
  }
  .group-header h2 {
    font-size: 28px;
  }
  .group-banner-left p {
    font-size: 19px;
  }
  .group-banner-right button a {
    font-size: 14px;
  }
  .board-tap .taps ul li {
    font-size: 14px;
  }
  .searchbox input {
    font-size: 14px;
  }
  .board-list {
    font-size: 13px;
  }
  .board-list h2 {
    font-size: 24px;
  }
  .board-list-title th {
    font-size: 14px;
  }
  .paging {
    font-size: 13px;
  }
  .board-btn {
    font-size: 16px;
  }
  .board-list-title .group-tag {
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  .group-header .bg-title {
    top: -7%;
    right: 3%;
    font-size: 90px;
  }
  .group-banner {
    padding: 40px 35px;
    background: url("../images/group-banner2.jpg") no-repeat center center;
    display: flex;
  }
  .group-banner span {
    display: block;
  }
  .group-banner-left p {
    line-height: 38px;
  }
  .board-list-title tr th:nth-child(1),
  .board-list-title tr td:nth-child(1),
  .board-list-title tr th:nth-child(4),
  .board-list-title tr td:nth-child(4) {
    display: none;
  }
  .board-list-title tr th:nth-child(3),
  .board-list-title tr td:nth-child(3),
  .board-list-title tr th:nth-child(5),
  .board-list-title tr td:nth-child(5),
  .board-list-title tr th:nth-child(6),
  .board-list-title tr td:nth-child(6) {
    width: 10%;
  }
  .board-list-title tr th:nth-child(2),
  .board-list-title tr td:nth-child(2) {
    width: 15%;
  }
  .board-list-title tr td,
  .board-list-title tr th {
    padding: 10px 0px;
  }
  .group-header h2 {
    font-size: 26px;
  }
  .group-banner-left p {
    font-size: 16px;
  }
  .group-banner-right button a {
    font-size: 13px;
  }
  .board-tap .taps ul li {
    font-size: 13px;
  }
  .searchbox input {
    font-size: 13px;
  }
  .board-list {
    font-size: 12px;
  }
  .board-list h2 {
    font-size: 22px;
  }
  .board-list-title th {
    font-size: 13px;
  }
  .paging {
    font-size: 12px;
  }
  .board-btn {
    font-size: 14px;
  }
  .board-list-title tbody tr td:nth-child(2) {
    padding: 20px;
  }
  .board-list-title .group-tag {
    font-size: 11px;
  }
}
@media all and (max-width: 480px) {
  .group-header {
    padding-top: 90px;
  }
  .group-header h2 {
    font-size: 24px;
  }
  .group-header .bg-title {
    top: -4%;
    right: 4%;
    font-size: 75px;
  }
  .group-banner {
    padding: 30px 25px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
  }
  .group-banner-left p {
    font-size: 13px;
  }
  .group-banner-right {
    margin-left: 10px;
  }
  .group-banner-right button a {
    font-size: 12px;
  }
  .board-list-title tr th:nth-child(3),
  .board-list-title tr td:nth-child(3),
  .board-list-title tr th:nth-child(5),
  .board-list-title tr td:nth-child(5),
  .board-list-title tr th:nth-child(6),
  .board-list-title tr td:nth-child(6) {
    width: 15%;
  }
  .board-list-title tr th:nth-child(2),
  .board-list-title tr td:nth-child(2) {
    width: 10%;
  }
  .board-list-title tbody tr td:nth-child(2) {
    padding: 15px 5px;
  }
  .board-list-title th {
    font-size: 11px;
  }
  .board-list {
    font-size: 10px;
  }
  .board-list h2 {
    font-size: 20px;
  }
  .board-list-title .group-tag {
    font-size: 10px;
  }
  .board-tap .taps ul {
    display: flex;
    justify-content: center;
  }
  .searchbox {
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .searchbox input {
    width: 100%;
  }
  .searchbox i {
    margin-left: 5px;
  }
  .paging {
    font-size: 11px;
  }
  .board-btn {
    font-size: 13px;
  }
}
@media all and (max-width: 320px) {
}
