@charset "utf-8";
/* 클래스 배너 */
.group-header {
  width: 100%;
  padding-top: 150px;
}
.group-header h2 {
  font-size: 30px;
  font-weight: bold;
  color: #e8eddf;
}
/* 게시글 작성 */
.board_insert {
  width: 100%;
  margin-top: 30px;
  padding: 50px 0;
  background-color: #eee;
}
#board_form {
  width: 100%;
  margin-bottom: 30px;
  color: #000;
}
#board_form fieldset {
  display: flex;
  flex-flow: nowrap;
  margin-bottom: 20px;
}
#board_form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}
#board_form label::before {
  content: "*";
  color: red;
  font-size: 16px;
  margin-right: 5px;
}
.board_insert input[type="text"],
.board_insert textarea,
.board_insert select {
  font-size: 16px;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#board_form input {
  width: 45%;
}
#board_form .boardNum-wrap {
  position: relative;
  width: 10%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
#board_form .boardNum-wrap .boardNum-btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#board_form .boardNum-wrap .boardNum-btn.down {
  position: absolute;
  top: 0;
  left: 0;
}
#board_form .boardNum-wrap .boardNum-btn.up {
  position: absolute;
  right: 0;
  top: 0;
}
#board_form .boardNum-wrap input {
  width: 100%;
  height: 30px;
  text-align: center;
}
#board_form #boardClass {
  width: 45%;
  height: 30px;
  padding: 0 30px 0 10px;
}
#board_form #boardContent {
  width: 85%;
  height: 200px;
  resize: none;
}
#board_form #boardImage {
  font-size: 15px;
}
#board_form fieldset:last-child {
  margin-bottom: 0;
}
.board_insert .add-post {
  display: flex;
  justify-content: flex-end;
}
.add-post #addPostBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
