.header {
  position: relative;
  display: block;
  width: 100%;
  height: 110px;
  font-family: "NanumSquare";
  position: fixed;
  z-index:99999;
  background-color: transparent;
  color: #e8eddf;
}
.header .inner{
  width: 100%;
}
.header-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 150px;
  height: auto;
  margin-left: 30px;
}
.sign-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
  gap: 0 20px;
}
#search-input{
  border-radius: 10px;
  border: 0;
  padding: 5px;
}
#header-select{
  width: 60px;
  border: 0;
  background-color: transparent;
  color: #e8eddf;
  font-family: "NanumSquare";
  font-size: 15px;
}
#header-select option{
  background-color: rgba(0,0,0,0.8) !important;
}
.header-bottom {
  height: 50px;
  font-size: 18px;
  display: flex;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px ;
}
.gnb {
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
}
.header-catemenu{
  position: absolute;
  left: -220px;
  flex-wrap: wrap;
  gap: 0 30px;
  width: 1920px;
  height: 400px;
  background-color: rgba(0,0,0,0.9);
  top: 110px;
  font-size: 15px;
}
.sticky {
  top: 50px;
  z-index: 1000;
}
.catemenu-txt{
  margin-left: 220px;
}
.depth2{
  width: calc( 90% / 5);
  height: 300px;
  border-right: 1px solid rgba(255,255,255,0.2);
  float: left;
  padding-left: 20px;
  margin-top: 15px;
  line-height: 34px;
}
.depth2:first-child{
  margin-left:30px;
}
.depth2:last-child{
  border: none;
}
.depth2 li a:hover{
  color: #ccc;
}
.fa-circle-user{
  font-size: 30px;
  display: none;
  cursor: pointer;
}

/* ===== */
#dashboard-section {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  display: none;
}
#username-display {
  font-size: 16px;
  font-weight: 900;
}
#dashboard-section i {
  transition: all ease-in 0.15s;
}
#dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #242423;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
  transition: all ease-in 0.2s;
}
#dashboard-section:hover #dropdown-menu {
    display: block;
}
#dashboard-section:hover i {
  transform: rotate(180deg);
}
#dropdown-menu a {
  display: block;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
#dropdown-menu a:hover {
  color: #f5cb5c;
}
