@charset "utf-8";
section {
  margin-bottom: 0;
}
/* sign-header 부분 */
.sign-header {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 110px;
  font-family: "NanumSquare";
  position: fixed;
  z-index: 99999;
  background-color: transparent;
  color: #e8eddf;
}
.sign-header .inner {
  width: 100%;
}
.sign-header-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-header .logo {
  width: 120px;
  height: auto;
  margin-left: 30px;
  margin-top: 15px;
}
/* 로그인 */
.login-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-bg {
  width: 100%;
  /* height: 830px; */
  height: 100vh;
  overflow: hidden;
  opacity: 0.2;
  background: black;
}
.login-bg .login-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.login-bg .login-line div {
  width: 146px;
  height: 146px;
  border-radius: 25%;
  background-color: #d9d9d9;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 60px;
  background-color: #000;
}
#login-form h2 {
  margin-bottom: 30px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#login-form input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
}
#login-form .login-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 30px;
}
#login-form .login-text p:last-child span {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
#login-form button[type="submit"] {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
#login-form fieldset {
  width: 100%;
  border-top: 1px solid #fff;
  margin: 0 auto;
}
#login-form fieldset legend {
  text-align: center;
  font-size: 13px;
  padding: 0 5px;
}
#login-form fieldset .logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
#login-form fieldset .logos img {
  width: 40%;
}
#login-form fieldset .logos a {
  display: block;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}
.footer {
  margin-top: 0;
}
