@charset "utf-8";
section {
  margin-bottom: 0;
}
/* sign-header 부분 */
.sign-header {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  font-family: "NanumSquare";
  z-index: 99999;
  overflow: hidden;
  background: transparent;
  color: #e8eddf;
}
.sign-header-top {
  display: block;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-header-top .logo {
  display: block;
  width: 10%;
  margin-top: 15px;
}
.sign-header .logo img {
  width: 100%;
}
/* 로그인 */
.login-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/sign-bg.jpg") no-repeat center center;
  background-size: cover;
}
.login-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.2;
  background: black; */
}
.login-box {
  display: block;
  width: 450px;
  padding: 40px 60px;
  background-color: #000;
}
#login-form h2 {
  margin-bottom: 30px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#login-form input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
}
#login-form .login-text {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 5px 0 30px;
  /* margin-bottom: 30px; */
}
#login-form .login-text p:last-child span {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
#login-form button[type="submit"] {
  width: 100%;
  background-color: #f5cb5c;
  border: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
#login-form button[type="submit"]:hover {
  background-color: #ebbc3d;
}
#login-form fieldset {
  width: 100%;
  border-top: 1px solid #fff;
  margin: 0 auto;
}
#login-form fieldset legend {
  text-align: center;
  font-size: 13px;
  padding: 0 5px;
}
#login-form fieldset .logos {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 15px;
}
#login-form fieldset .logos img {
  width: 40%;
}
#login-form fieldset .logos a {
  display: block;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}
.footer {
  margin-top: 0;
}

@media all and (max-width: 1024px) {
  .login-wrap {
    height: auto;
    background: #000;
    padding: 270px 0;
  }
  .login-box {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-header .logo {
    width: 100px;
  }
}
@media all and (max-width: 768px) {
  .login-wrap {
    padding: 275px 0;
  }
  #login-form h2 {
    font-size: 22px;
  }
  #login-form input {
    font-size: 12px;
  }
  #login-form .login-text {
    font-size: 12px;
  }
  #login-form .login-text p:last-child span {
    font-size: 12px;
  }
  #login-form button[type="submit"] {
    font-size: 14px;
  }
  #login-form fieldset legend {
    font-size: 12px;
  }
}
@media all and (max-width: 480px) {
  .login-wrap {
    padding: 65px 0;
  }
  .sign-header .logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 80px;
  }
  .logo img {
    width: 100%;
    margin: 0 0;
  }
  #login-form fieldset .logos {
    gap: 25px;
  }
  #login-form fieldset .logos a {
    /* width: 55px;
    line-height: 55px; */
  }
}
@media all and (max-width: 320px) {
}
