@charset "utf-8";
section {
  margin-bottom: 0;
}
/* 클래스 배너 */
.group-header {
  width: 100%;
  padding-top: 150px;
}
.group-header h2 {
  font-size: 30px;
  font-weight: bold;
  color: #e8eddf;
}
/* 결제부분 */
.payment-section {
  width: 100%;
  margin: 30px 0 60px;
  color: #000;
}
.payment-wrap {
  width: 100%;
}
.payment-box {
  width: 100%;
  padding: 23px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
}
.payment-box h2 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.payment-box .student-wrap {
  width: 100%;
  padding: 23px;
  border-radius: 15px;
  background-color: #f4f4f4;
}
.payment-box .student-wrap fieldset {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.payment-box .student-wrap fieldset:last-child {
  margin-bottom: 0;
}
.payment-box .student-wrap label {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
}
.payment-box .student-wrap input {
  width: 20%;
  min-width: 200px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ddd;
}
.payment-box .text-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
}
.payment-box .text-wrap h3 {
  font-weight: 900;
}
.payment-box .text-wrap p {
  color: #a0a0a0;
  font-weight: bold;
  margin-left: 10px;
}
.payment-box .class-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #6c6c6c;
  font-size: 16px;
  line-height: 1.7;
}
.payment-box .class-wrap .images {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-right: 10px;
  background: url("/images/sub-visual.jpg") no-repeat center;
  background-size: cover;
}
.payment-box .class-wrap p:first-child {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}
.payment-box > p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/*  */
.payment-box .dropdown {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.payment-box .dropdown-selected {
  background-color: transparent;
  color: #000;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.payment-box .dropdown-selected i {
  transition: all ease-in 0.2s;
}
.payment-box .dropdown-selected i.active {
  transform: rotate(180deg);
}
.payment-box .dropdown-selected span {
  font-weight: bold;
  color: rgb(255, 102, 85);
}
.payment-box .dropdown-list {
  display: none;
  /* position: absolute; */
  width: 100%;
  border-top: 1px solid #e0e0e0;
  z-index: 1;
}
.payment-box .dropdown-list-item,
.payment-box .coupon-dropdown-list-item {
  padding: 15px;
}
.payment-box .coupon-dropdown-list-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.payment-box .dropdown-list-item:hover,
.payment-box .coupon-dropdown-list-item:hover {
  background-color: #ddd;
}
.payment-box .dropdown-list-item input,
.payment-box .coupon-dropdown-list-item input {
  display: none;
}
.payment-box .coupon-dropdown-label span {
  display: block;
}
.payment-box .coupon-dropdown-label span:last-child {
  font-size: 14px;
  color: #a0a0a0;
}
/*  */

.payment-box .radio_box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}
.payment-box .radio_box fieldset {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.payment-box .radio_box fieldset:last-child {
  border-bottom: 0;
}
.payment-box.check-box {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.payment-box.check-box strong {
  text-decoration: underline;
  cursor: pointer;
}
.payment-wrap .pay {
  width: 100%;
  padding: 23px;
  background-color: #383838;
  border-radius: 15px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .group-header h2 {
    font-size: 28px;
  }
  .payment-box h2 {
    font-size: 16px;
  }
  .payment-box .student-wrap label {
    font-size: 14px;
  }
  .payment-box .student-wrap input {
    font-size: 14px;
  }
  .payment-box .dropdown-selected {
    font-size: 14px;
  }
  .payment-box .text-wrap {
    font-size: 14px;
  }
  .payment-box .class-wrap {
    font-size: 14px;
  }
  .payment-box .class-wrap p:first-child {
    font-size: 15px;
  }
  .payment-box > p {
    font-size: 13px;
  }
  .payment-box .radio_box {
    font-size: 14px;
  }
  .payment-box.check-box {
    font-size: 14px;
  }
  .payment-wrap .pay {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    border-radius: 0;
    z-index: 999;
  }
  .top-button {
    bottom: 95px;
  }
}
@media all and (max-width: 768px) {
  .group-header h2 {
    font-size: 26px;
  }
  .payment-box h2 {
    font-size: 14px;
  }
  .payment-wrap .pay {
    font-size: 17px;
  }
}
@media all and (max-width: 480px) {
  .group-header {
    padding-top: 90px;
  }
  .group-header h2 {
    font-size: 24px;
  }
  .payment-box .student-wrap input {
    width: 100%;
    min-width: auto;
  }
}
@media all and (max-width: 320px) {
}
