@charset "utf-8";
/* 클래스 배너 */
.group-header {
  width: 100%;
  padding-top: 150px;
}
.group-header h2 {
  font-size: 30px;
  font-weight: bold;
  color: #e8eddf;
}
/* 결제부분 */
.payment-section {
  width: 100%;
  margin: 30px 0 60px;
  color: #000;
}
.payment-wrap {
  width: 100%;
}
.payment-box {
  width: 100%;
  padding: 23px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
}
.payment-box h2 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.payment-box .student-wrap {
  width: 100%;
  padding: 23px;
  border-radius: 15px;
  background-color: #f4f4f4;
}
.payment-box .student-wrap fieldset {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.payment-box .student-wrap fieldset:last-child {
  margin-bottom: 0;
}
.payment-box .student-wrap label {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
}
.payment-box .student-wrap input {
  width: 20%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ddd;
}
.payment-box .text-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  /* height: 80px; */
}
.text-wrap h3 {
  font-size: 16px;
  font-weight: 900;
}
.text-wrap p {
  color: #a0a0a0;
  font-weight: bold;
}
.class-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #6c6c6c;
}
.class-wrap .images {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: blue;
}
.class-wrap p:first-child {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}
.payment-box > p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/*  */
.dropdown-selected {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-selected p {
  margin: 0;
}
.dropdown-selected i {
  font-size: 16px;
}
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-list-item {
  padding: 10px;
}
.coupon-dropdown-label {
  display: flex;
  flex-direction: column;
}
.coupon-dropdown-title {
  font-weight: bold;
}
.coupon-dropdown-desc small {
  color: #666;
}
/* 드롭다운 메뉴 열린 상태 스타일 */
.show {
  display: block;
}
/*  */

.radio_box {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}
.radio_box fieldset {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.radio_box fieldset:last-child {
  border-bottom: 0;
}
.check-box {
  display: flex;
  justify-content: space-between;
}
.pay {
  width: 100%;
  padding: 23px;
  background-color: #383838;
  border-radius: 15px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
