.review{
    overflow: hidden;
    height: 820px;
    padding: 100px 0;
}
.review-container{
    display: flex;
    justify-content: space-between;
}
.review-container h1{
    font-size: 35px;
    font-weight: 700;
}
.review-left{
    width: 55%;
    height: 100%;
}
.review-right{
    width: 30%;
    height: 720px;
}
.review-list:after{
    position: absolute;
    bottom:0;
    display:block;
    content:"";
    width:412px;
    height:150px;
    background:linear-gradient(to top, rgb(0,0,0,0.6)10%,  rgba(26,26,26,0));
    z-index: 10;
}
.review-title{
    padding-bottom: 50px;
}
.review-list{
    max-height: 600px;
    overflow-y: auto;
    /* padding: 10px; */
    overflow: overlay;
}
.review-list::-webkit-scrollbar{
    height: 0px;
}
.review-right .review-txt {
    width: 100%;
    height: 380px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(43, 43, 43, 1);
    position: relative;
}
.review-right .review-txt:last-child{
    margin-bottom: 0;
}
.review-right .review-txt span{
    font-size: 14px;    
}
.review-right .review-txt h2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    color: antiquewhite;
}
.review-right .review-txt p{
    color: #989898;
    padding-bottom: 25px;
}