@charset "utf-8";
section {
  margin-bottom: 0;
}
/* 모달창 */
#signup-modal-wrap {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.nicknameModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nicknameModal > .close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.modal-content h2 {
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}
.modal-content p {
  font-size: 18px;
  margin: 35px 0;
  text-align: center;
}
.modal-content > .close-btn {
  font-size: 14px;
  padding: 5px 20px;
  background-color: #f5cb5c;
  cursor: pointer;
  border: none;
  font-family: "NanumSquare";
  font-weight: 700;
  transition: 0.1s;
}
.modal-content > .close-btn:hover {
  background-color: #d1ae4c;
}
/* sign-header 부분 */
.sign-header {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  font-family: "NanumSquare";
  z-index: 99999;
  overflow: hidden;
  background: transparent;
  color: #e8eddf;
}
.sign-header-top {
  display: block;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-header-top .logo {
  display: block;
  width: 10%;
  margin-top: 15px;
}
.sign-header .logo img {
  width: 100%;
}
/* 회원가입 */
.signup-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("/images/sign-bg.jpg") no-repeat center center;
  background-size: cover;
}
.signup-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-box {
  display: block;
  width: 450px;
  padding: 40px 60px;
  background-color: #000;
}
#signup-form h2 {
  margin-bottom: 30px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#signup-form > input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
#signup-form .like-input {
  width: 100%;
  padding: 7px 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#signup-form .like-input input {
  width: 75%;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
#check-nickname-button {
  font-size: 12px;
  padding: 4px 8px;
  font-family: "NanumSquare";
  background-color: #f5cb5c;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s;
}
#check-nickname-button:hover {
  background-color: #d1ae4c;
}
#nickname-status {
  margin-top: 5px;
  font-weight: bold;
}
#signup-form .signup-text {
  font-size: 15px;
  background-color: #242423;
  padding: 16px;
  margin-top: 10px;
}
.signup-text p {
  font-weight: bold;
  margin-bottom: 10px;
}
.checkbox_group {
  font-size: 15px;
}
.checkbox_group li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.checkbox_group li strong {
  cursor: pointer;
}
.checkbox_group li:first-child {
  margin-bottom: 8px;
}
.checkbox_group li:last-child {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}
.checkbox_group .checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox_group .checkbox label {
  min-width: 50px;
}
.checkbox_group input {
  width: 15px;
  height: 15px;
}
.checkbox_group strong {
  text-decoration: underline;
}
.marketing-txt {
  margin: 10px 0 20px;
  text-align: center;
  font-size: 14px;
}
#signup-form button[type="submit"] {
  width: 100%;
  background-color: #f5cb5c;
  color: #000;
  border: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  font-family: "NanumSquare";
  font-weight: 900;
}
#signup-form button[type="submit"]:hover {
  background-color: #d1ae4c;
}
#signup-form p:last-child {
  text-align: center;
  font-size: 14px;
}
#signup-form p:last-child a {
  text-decoration: underline;
}
.footer {
  margin-top: 0;
}

@media all and (max-width: 1024px) {
  .signup-wrap {
    height: auto;
    background: #000;
  }
  .signup-box {
    width: 100%;
    height: 100%;
    padding: 90px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-header .logo {
    width: 100px;
  }
}
@media all and (max-width: 768px) {
  #signup-form h2 {
    font-size: 22px;
  }
  #signup-form > input {
    font-size: 12px;
  }
  #signup-form .like-input input {
    font-size: 12px;
  }
  #check-nickname-button {
    font-size: 11px;
  }
  #signup-form .signup-text {
    font-size: 14px;
  }
  .checkbox_group {
    font-size: 14px;
  }
  .marketing-txt {
    font-size: 13px;
  }
  #signup-form button[type="submit"] {
    font-size: 14px;
  }
  #signup-form p:last-child {
    font-size: 13px;
  }
  .nicknameModal > .close {
    font-size: 18px;
  }
  .modal-content h2 {
    font-size: 20px;
  }
  .modal-content p {
    font-size: 16px;
  }
  .modal-content > .close-btn {
    font-size: 12px;
  }
  .nicknameModal {
    padding: 30px 50px;
  }
  .nicknameModal > .close {
    top: 6%;
    right: 6%;
  }
}
@media all and (max-width: 480px) {
  .sign-header .logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 80px;
  }
  .logo img {
    width: 100%;
    margin: 0 0;
  }
  .nicknameModal > .close {
    font-size: 16px;
  }
  .modal-content h2 {
    font-size: 18px;
  }
  .modal-content p {
    font-size: 14px;
  }
  .modal-content > .close-btn {
    font-size: 11px;
  }
  .nicknameModal > .close {
    top: 8%;
    right: 8%;
  }
}
@media all and (max-width: 320px) {
}
