.newclass{
    text-align: left;
    margin-top: 100px;
}

.sw-aiclass,
.sw-newclass{
    width: 100%;
    overflow: visible;
}

.aiclass .swiper-wrapper,
.newclass .swiper-wrapper{
    width: 100%;
    transition-timing-function: linear;
}

.class-slide{
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
}

.class-box{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.class-box .class-txt{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-box .class-txt .class-price{
    text-align: right;
}

.aiclass-title,
.newclass-title{
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
}

.aiclass-title span,
.newclass-title span{
    font-size: 20px;
    display: inline;
    margin-right: 10px;
    color: #aeb3a6;
}

.aiclass-title p,
.newclass-title p{
    font-size: 35px;
    display: inline;
}

.aiclass-title a,
.newclass-title a{
    position: absolute;
    right: 0;
    top: 10px;
}

.newclass-title a{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.aiclass-title a i,
.newclass-title a i{
    margin-left: 5px;
}

/* aiclass */
/* newclass */