/*---------- md-fix-menu -----------*/
.md-fix-menu {
  position: fixed;
  top: 13.5%;
  left: 20%;
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 750px;
  max-width: 340px;
}
.md-fix-menu-box {
  width: 100%;
  height: auto;
  padding: 30px 25px;
  background-color: #222;
  border: solid 1px #000;
  border-radius: 10px;
  min-width: 345px !important;
  max-width: 380px !important;
}

/* fix title menu */
.md-fix-title-menu {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 270px;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}
.md-fix-title-menu > span {
  border-right: 1px solid #ccc;
  height: 45px;
  margin-top: 5px;
}
.md-fix-title > h2 {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
}
.md-fix-title > p {
  color: #ccc;
  font-size: 14px;
}

/* 트리플 패스 */
.md-we-class {
  background-color: #3e3e3e;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 13px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.md-we-class:hover {
  background-color: #2e2e2e;
}
.focused {
  outline: 2px solid #fff;
}
.md-we-class > h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 5px;
}
.md-we-class > p {
  font-size: 15px;
}
.md-we-class > p > span {
  font-size: 12px;
  color: red;
  padding-right: 10px;
}
.md-we-class i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
}
.md-we-class-info-text {
  display: none;
  background-color: transparent;
  position: absolute;
  text-align: center;
  width: 220px;
  height: 40px;
  line-height: 40px;
  bottom: 42px;
  right: -270px;
  font-size: 14px;
  border: solid 1px #ccc;
  border-radius: 2px;
  overflow: hidden;
}

/* 개별 클래스 */
.md-me-class {
  background-color: #3e3e3e;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 13px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.md-me-class:hover {
  background-color: #2e2e2e;
}
.md-me-class > h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 5px;
}
.md-me-class > p {
  font-size: 15px;
}
.md-me-class > p > span {
  font-size: 12px;
  color: red;
  padding-right: 10px;
  cursor: pointer;
}

/* 준비물 */
.md-custom-selector {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 0px;
  font-size: 14px;
}
.md-custom-selector option {
  background-color: #e8eddf;
  color: #000;
  border-radius: 20px;
  font-size: 14px;
}
.md-custom-all {
  display: flex;
  flex-direction: column;
}
#md-preparation {
  width: 280px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  text-overflow: ellipsis;
  color: #e8eddf;
  font-family: "NanumSquare" !important;
}
#result {
  margin-top: 20px;
  display: none; /* 초기에는 결과 숨김 */
}
#md-customDiv {
  display: none; /* 초기에는 숨김 */
  margin-bottom: 20px;
}

/* 준비물 박스 */
.md-custom-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px;
  margin-bottom: 5px;
  font-family: "NanumSquare" !important;
}
.md-custom-image {
  display: flex;
}
.md-custom-image > p {
  font-size: 14px;
  margin-left: 10px;
}
.md-custom-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.md-custom-span {
  font-size: 13px;
  cursor: pointer;
  margin-left: 145px;
}

/* 숫자증가 박스 */
.md-number-box {
  color: #fff;
  display: flex;
  border: solid 1px #ccc;
  font-family: "NanumSquare" !important;
}
#md-increaseButton {
  padding: 0 8px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  transition: 0.1s;
}
#md-increaseButton:hover {
  background-color: #aaa;
}
#md-quantity {
  font-size: 14px;
  padding-top: 5px;
}
#md-decreaseButton {
  padding: 0 8px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
#md-decreaseButton:hover {
  background-color: #aaa;
}

/* 가격 박스 */
.md-price-box {
  display: flex;
  font-size: 15px;
  color: #fff;
  justify-content: center;
  align-items: end;
}
.md-price-box p {
  height: 18px;
}
/* x-박스 */
.md-x-box {
  font-size: 12px;
  border: solid 1px #ccc;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.1s;
  padding: 0 3px;
  padding-top: 1px;
}
.md-x-box:hover {
  background-color: #aaa;
}

/* 클래스 신청 버튼 */
.md-button-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  position: relative;
}
.md-me-buy {
  width: 280px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 13px 0;
  background-color: #f7a800;
  color: #000;
  font-family: "NanumSquare" !important;
}
.md-me-buy:hover {
  background-color: #b87d00;
}
.md-me-buy > h2 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 900;
  /* color: #ffffff; */
}
.md-button-box-we {
  display: flex;
  flex-direction: column-reverse;
}
.md-we-buy {
  width: 280px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  padding: 13px 0;
  background-color: #178fff;
  color: #000000;
  font-family: "NanumSquare" !important;
}
.md-we-buy:hover {
  background-color: #0062be;
}
.md-we-buy > h2 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 900;
  /* color: #ffffff; */
}
.md-button-box h2 i {
  font-size: 17px;
  font-weight: 900;
  transition: 0.3s;
}
.md-button-box h2:hover i {
  transform: translateX(3px);
}

/* 기본 스타일 */
.md-linked-text {
  position: relative;
  width: 191px;
}

.md-linked-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

/* 버튼 호버 시 밑줄이 나타나도록 변경 */
.md-we-buy:hover + .md-linked-text::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 폰트 스타일 한번 더 저장 */
body {
  font-family: "NanumSquare" !important;
}


/* new-fix-menu */
.new-fix-menu {
  width: 100%;
  max-width: 967px;
  display: none;
}
.new-fix-menu-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  z-index: 999990;
  padding: 0 20px;
  min-width: 320px !important;
}
.fix-left-button {
  cursor: pointer;
  width: 48%;
  background-color: #ccc;
  border-radius: 5px;
}
.fix-left-button button {
  cursor: pointer;
  padding: 12px 10px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  background-color: #f7a800;
  color: #000;
  font-family: "NanumSquare" !important;
  font-size: 22px;
  font-weight: 900;
}
.fix-left-button button:hover {
  background-color: #b97f00;
}
.fix-right-button {
  cursor: pointer;
  width: 48%;
  background-color: #ccc;
  border-radius: 5px;
}
.fix-right-button button {
  cursor: pointer;
  padding: 12px 10px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  background-color: #178fff;
  color: #000000;
  font-family: "NanumSquare" !important;
  font-size: 22px;
  font-weight: 900;
}
.fix-right-button button:hover {
  background-color: #0067c7;
}

/* new-fix-menu-modal */
.fix-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.fix-modal-content {
  position: relative;
  display: block;
  background-color: #222;
  margin: 0 auto; 
  margin-top: 10%;
  width: 37.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.fix-close {
  position: fixed;
  top: 0;
  right: 3%;
  cursor: pointer;
  font-size: 40px;
  z-index: 9999999999;
}

/* ------------------------------------------------------------------- */

/* image modal */
.img-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.img-modal-content {
  position: absolute;
  width: 700px;
  min-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 999999;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 10px #fff;
  border-top: solid 40px #fff;
  top: 50%;
  left: 50%;
  transform: translate( -50%,-50%);
}
.img-close {
  display: flex;
  position: absolute;
  align-items: center;  
  justify-content: space-between;
  width: 670px;
  top: 26%;
  left: 50%;
  cursor: pointer;
  font-size: 40px;
  z-index: 9999999999;
  color: #000;
  margin: 0 auto;
  transform: translateX(-50%);
}
.img-close p{
  font-size: 15px;
  font-weight: 900;
}






/* 반응형 */
@media all and (min-width: 1024px) {
  .modal {
    display: none;
  }
  .modal-content {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .fix-menu {
    display: none;
  }
  .new-fix-menu{
    display: block;
  }
}
/* 반응형 */

@media all and (max-width: 768px) {
  .fix-left-button button {
    font-size: 20px;
  }
  .fix-right-button button {
    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  .fix-left-button button {
    font-size: 15px;
    padding: 10px 8px;
  }
  .fix-right-button button {
    padding: 10px 8px;
    font-size: 15px;
  }
}
@media all and (max-width: 370px) {
  .fix-left-button button {
    font-size: 13px;
    padding: 8px 6px;
  }
  .fix-right-button button {
    padding: 8px 5px;
    font-size: 13px;
  }
}
