/* 내용 */
.sub-content{
    position: relative;
    display: block;
    margin-top: 150px;
}

/* 타이틀 메뉴 */
.title-menu ul{
    display: flex;
    align-items: center;
    width: 1000px;
    border-bottom: 1px solid #e8eddf;
}
.title-menu ul li{
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.title-menu ul li:first-child{
    background-color: #6d6d6d;
}

/* 클래스 정보 */
.class-info{
    width: 1000px;
    position: relative;
}
.class-text{
    margin-top: 80px;
}
.class-text-title{
    width: 1000px;
    text-align: center;
    font-size: 19px;
}
.class-text-sub {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 18px;
}
.first-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: #cccccc;
    width: 1000px;
}
.first-content > p{
    font-size: 16px;
    color: #000;
    padding: 8px 0;
}
.second-third-content{
    display: flex;
}
.second-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
    position: relative;
    width: 480px;
    margin-right: 40px;
}
.second-content > h2{
    text-align: center;
    width: 480px;
    font-size: 21px;
    color: #000;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.second-content > p{
    font-size: 16px;
    color: #000;
    padding: 8px 0;
    text-align: center;
}
.third-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
    position: relative;
    width: 480px;
}
.third-content > h2{
    text-align: center;
    width: 480px;
    font-size: 21px;
    color: #000;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.third-content > p{
    font-size: 16px;
    color: #000;
    padding: 8px 0;
    text-align: center;
}

/* 타겟 */
.class-target{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 80px;
}
.class-target-title{
    margin-bottom: 20px;
    font-size: 18px;
}
.class-target ul{
    position: relative;
}
.class-target ul li{
    background-color: #cccccc;
    width: 1000px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #000;
}
.class-target ul li i{
    margin-right: 10px;
}

/* 클래스 과정 */
.class-order{
    margin-top: 80px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.class-order-title{
    margin-bottom: 20px;
    font-size: 18px;
}
.class-order1{
    margin-bottom: 120px;
}
.class-order2{
    margin-bottom: 120px;
}
.class-order3{
    margin-bottom: 120px;
}
.class-order4{
    margin-bottom: 120px;
}
.class-order-text{
    margin-top: 20px;
    line-height: 1.9;
}
.class-order span{
    font-size: 20px;
    font-weight: 500;
}

/* 강사 소개 */
.teacher-info{
    position: relative;
    width: 1000px;
    margin-top: 120px;
}
.teacher-name{
    font-size: 22px;
}
.teacher-text{
    margin-top: 20px;
}
.teacher-text p{
    margin-top: 30px;
}

/* 커리큘럼 */
.curriculum{
    width: 1000px;
    margin-top: 80px;
    border-top: solid 1px #ccc;
    display: flex;
}
.curri-content{
    display: flex;
    flex-direction: column;
}
.curri-box1,
.curri-box2,
.curri-box3,
.curri-box4,
.curri-box5,
.curri-box6,
.curri-box7,
.curri-box8{
    width: 1000px;
    display: flex;
    border-bottom: solid 1px #ccc;
    padding-bottom: 30px;
    padding-top: 30px;
}
.curri-title{
    font-size: 20px;
    font-weight: 500;
}
.curri-video{
    width: 300px;
    height: 200px;
    background-color: #ccc;
    margin-top: 30px;
}
.curri-text{
    margin-left: 80px;
    margin-top: 70px;
    font-size: 17px;
    /* background-color: #6d6d6d; */
}