.sub-all {
  width: 100%;
  height: auto;
}
.sub-inner {
  display: flex;
  position: relative;
  gap: 0 60px;
}
.all-content {
  width: 800px;
}
.visual-content {
  display: inline-block;
  width: 800px;
  margin-top: 130px;
}
.visual-image {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 420px;
  background: url("../images/sub-visual.jpg") no-repeat;
  background-size: 800px 420px;
  border-radius: 5px;
}
.visual-text {
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 10;
  font-weight: 100;
}
.tx-1 {
  display: flex;
  gap: 50px;
  font-size: 14px;
}
.visual-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(17, 17, 17, 0) 70%,
    rgb(17, 17, 17) 99%
  );
  opacity: 0.8; /* 그라디언트의 투명도 조절 */
  z-index: 1;
}
.categori {
  margin: 20px 0;
  font-size: 15px;
  font-weight: 200;
}
.categori a {
  cursor: pointer;
}
.title {
  font-size: 28px;
  margin-bottom: 35px;
}
.nickname {
  font-size: 20px;
  margin-bottom: 25px;
}
.nickname > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.hashtag {
  display: flex;
  margin-bottom: 30px;
}
.hashtag ul {
  display: flex;
}
.hashtag ul li {
  margin-right: 13px;
  font-size: 15px;
  padding: 0px 18px;
  border: solid 1px #5b5b5b;
  width: auto;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
}
.hashtag ul li:hover {
  background-color: #e8eddf;
  color: #111;
  cursor: pointer;
}

/* 아이콘 */
.icon-text {
  display: flex;
}
.icon-text-type1:hover,
.icon-text-type2:hover,
.icon-text-type3:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.icon-text-type1 {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 5px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-right: 15px;
}
.icon-text-type1 i {
  font-size: 25px;
  padding-bottom: 15px;
  cursor: pointer;
}
.icon-text-type2 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-right: 15px;
}
.icon-text-type2 i {
  font-size: 25px;
  padding-bottom: 15px;
  cursor: pointer;
}
.icon-text-type3 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-right: 15px;
}
.icon-text-type3 i {
  font-size: 25px;
  padding-bottom: 16px;
  cursor: pointer;
}
/* 하트 애니메이션 스타일 */
.heart-pulse {
  animation: pulse 1s infinite; /* 1초 간격으로 반복되는 애니메이션 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* 중간에 크기를 키웁니다. */
  }
  100% {
    transform: scale(1);
  }
}

/* ----------------------------- visual 끝 -------------------------------- */

/* 내용 */
.main-content {
  display: inline-block;
  margin-top: 150px;
  width: 800px;
}

/*----------------- 타이틀메뉴 -----------------*/
.title-menu ul {
  display: flex;
  align-items: center;
  width: 800px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.title-menu ul li {
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.title-menu ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 3px;
  background: #ffffff;
  opacity: 0;
  transition: all 0.3s;
}
.title-menu ul li:hover::after {
  opacity: 1;
}
.title-menu ul li:hover a {
  color: #ffffff;
}
/* 포커스된 메뉴 아이템 스타일 */
.title-menu ul li.focus-active {
  color: #fff !important;
}
.focus-active::after {
  opacity: 1 !important;
}

/*----------------- 클래스정보 -------------------*/
.class-info {
  display: inline-block;
  width: 800px;
  position: relative;
}
.class-text {
  margin-top: 100px;
}
.class-text-title {
  width: 800px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.class-text-title::before {
  content: "";
  width: 200px;
  height: 1px;
  border-left: solid 1px #ccc;
  padding-left: 40px;
}
.class-text-title::after {
  content: "";
  border-right: solid 1px #ccc;
  width: 200px;
  height: 1px;
  padding-left: 40px;
}
.class-text-sub {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 18px;
}
.content-1 {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  width: 800px;
  height: 210px;
  border: solid 1px #2d2d2d;
  background-color: rgb(41, 39, 39);
  background: url("../images/class-info-1.jpg") no-repeat;
  background-size: 800px, auto;
}
.content-1 > p {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  font-size: 14px;
  text-align: center;
  z-index: 2;
  color: #ccc;
}
.gradient-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 30%,
    rgb(41, 39, 39) 80%
  );
  opacity: 1; /* 그라디언트의 투명도 조절 */
  z-index: 1;
}
.content-2-3 {
  display: flex;
}
.content-2 {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 380px;
  margin-right: 40px;
  height: 320px;
  background: url("../images/class-info-2.jpg") no-repeat;
  background-size: 380px, auto;
  border: solid 1px #3d3d3d;
  background-color: rgb(41, 39, 39);
}
.content-2 > h2 {
  text-align: center;
  width: 380px;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.content-2 > p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-size: 14px;
  text-align: center;
  z-index: 2;
  color: #ccc;
}
.content-3 {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 380px;
  height: 320px;
  background: url("../images/class-info-3.jpg") no-repeat top;
  background-size: 380px, auto;
  border: solid 1px #3d3d3d;
  background-color: rgb(41, 39, 39);
}
.content-3 > h2 {
  text-align: center;
  width: 380px;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.content-3 > p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-size: 14px;
  text-align: center;
  z-index: 2;
  color: #ccc;
}
.gradient-2-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 30%,
    rgb(41, 39, 39) 70%
  );
  opacity: 1; /* 그라디언트의 투명도 조절 */
  z-index: 1;
}

/*------------------- 타겟 ------------------*/
.class-target {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 100px;
}
.class-target-title {
  margin-bottom: 20px;
  font-size: 18px;
}
.class-target ul {
  position: relative;
}
.class-target ul li {
  background-color: #ccc;
  width: 800px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #000;
}
.class-target ul li i {
  margin-right: 10px;
}

/*---------------- 클래스맛보기 ----------------*/
.class-order {
  margin-top: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
}
.class-order-title {
  margin-bottom: 20px;
  font-size: 18px;
}
.class-order1 {
  margin-bottom: 100px;
}
.class-order2 {
  margin-bottom: 100px;
}
.class-order3 {
  margin-bottom: 100px;
}
.class-order4 {
  margin-bottom: 100px;
}
.class-order-text {
  margin-top: 20px;
  line-height: 1.9;
}
.class-order-text {
  font-size: 15px;
  color: #ccc;
}
.class-order-text span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #e8eddf;
}
/* .class-order1,
.class-order2,
.class-order3,
.class-order4,
.class-order5 > img{
  border-radius: 5px;
} */
.class-order img {
  border-radius: 5px;
}

/*------------------- 강사 소개 -------------------*/
.teacher-info {
  display: inline-block;
  position: relative;
  width: 800px;
  margin-top: 200px;
}
.teacher-name {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
.teacher-name::before {
  content: "";
  width: 200px;
  height: 1px;
  border-left: solid 1px #ccc;
  padding-left: 40px;
}
.teacher-name::after {
  content: "";
  border-right: solid 1px #ccc;
  width: 200px;
  height: 1px;
  padding-left: 40px;
}
.teacher-text {
  margin-top: 10px;
}
.teacher-text p {
  margin-top: 40px;
  line-height: 1.9;
  color: #ccc;
}
.teacher-info img {
  border-radius: 5px;
}

/*--------------- 커리큘럼 ------------------ */
.curriculum {
  display: inline-block;
  width: 800px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.curri-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-bottom: solid 1px #5b5b5b;
  padding-bottom: 60px;
}
.curri-title::before {
  content: "";
  width: 200px;
  height: 1px;
  border-left: solid 1px #ccc;
  padding-left: 40px;
}
.curri-title::after {
  content: "";
  border-right: solid 1px #ccc;
  width: 200px;
  height: 1px;
  padding-left: 40px;
}
.curri-box1,
.curri-box2,
.curri-box3,
.curri-box4,
.curri-box5,
.curri-box6,
.curri-box7,
.curri-box8 {
  width: 800px;
  display: flex;
  border-bottom: solid 1px #5b5b5b;
  padding-bottom: 25px;
  padding-top: 25px;
}
.curri-box-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
.curri-video {
  width: 250px;
  height: 142px;
  background-color: #000;
  /* margin-top: 15px; */
  position: relative;
}
.curri-box1 .curri-video {
  background: url("../images/curri-1.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box2 .curri-video {
  background: url("../images/curri-2.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box3 .curri-video {
  background: url("../images/curri-3.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box4 .curri-video {
  background: url("../images/curri-4.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box5 .curri-video {
  background: url("../images/curri-5.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box6 .curri-video {
  background: url("../images/curri-6.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box7 .curri-video {
  background: url("../images/curri-7.jpg") no-repeat center;
  background-size: 250px, auto;
}
.curri-box8 .curri-video {
  background: url("../images/curri-8.jpg") no-repeat center;
  background-size: 250px, auto;
}
.shadow-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 250px;
  height: 142px;
  cursor: pointer;
}
.shadow-box:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}
.shadow-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.curri-text-box {
  position: relative;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 15px;
  color: #ccc;
}
.curri-text-box p{
  margin-bottom: 90px;
}
.curri-box6 .curri-text-box p{
  margin-bottom: 70px;
}
.curri-box7 .curri-text-box p{
  margin-bottom: 70px;
}
.curri-box8 .curri-text-box p{
  margin-bottom: 70px;
}
.curri-text-box span{
  font-size: 14px;
}

/*----------- 수강후기----------- */
.review {
  width: 800px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.review-title-score {
  font-size: 19px;
  text-align: left;
  display: inline-block;
}
.review-title-score > span {
  letter-spacing: 1.5px;
}
.review-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.review-title::before {
  content: "";
  width: 200px;
  height: 1px;
  border-left: solid 1px #ccc;
  padding-left: 40px;
}
.review-title::after {
  content: "";
  border-right: solid 1px #ccc;
  width: 200px;
  height: 1px;
  padding-left: 40px;
}
.review-score {
  font-size: 16px;
  border-bottom: solid 1px #5b5b5b;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.review-content {
  width: 100%;
  border-bottom: solid 1px #5b5b5b;
  padding: 50px 10px;
}
.review-content:last-child {
  border-bottom: none;
}
.review-profile {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.review-profile-image1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../images/sub-review1.jpg") no-repeat center;
  background-size: 100px auto;
  margin-right: 30px;
  margin-left: 15px;
}
.review-profile-image2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../images/sub-review2.jpg") no-repeat center;
  background-size: 60px auto;
  margin-right: 30px;
  margin-left: 15px;
}
.review-profile-image3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../images/sub-review3.jpg") no-repeat center;
  background-size: 100px auto;
  margin-right: 30px;
  margin-left: 15px;
}
.review-profile-text {
  display: flex;
  flex-direction: column;
}
.review-name {
  font-size: 15px;
  font-weight: 800;
  padding-bottom: 10px;
}
.review-profile-text > p {
  font-size: 14px;
}
.review-profile-text > p > span {
  color: #a8a8a8;
}
.review-comment {
  display: flex;
  flex-direction: column;
}
.review-love {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  height: 25px;
  line-height: 25px;
}
.review-love > span {
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 0px 17px;
  margin-right: 30px;
  font-size: 15px;
  color: #ff9d9d;
  font-weight: 600;
}
.review-sad {
  display: flex;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.review-sad > span {
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 0px 11px;
  margin-right: 30px;
  font-size: 15px;
  color: #9cc3ff;
  font-weight: 600;
}
.review-more {
  margin-top: 15px;
  width: 100%;
  background-color: #383838;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  margin-bottom: 20px;
}
.review-more:hover {
  background-color: #282828;
}

/*---------- fix-menu -----------*/
.fix-menu {
  position: sticky;
  top: 13.5%;
  left: 20%;
  display: inline-block;
  width: 340px;
  height: auto;
  max-height: 750px;
}
.fix-menu-box {
  width: 340px;
  height: auto;
  background-color: #222;
  border: solid 1px #000;
  border-radius: 10px;
}

/* 타이틀메뉴 */
.fix-title-menu {
  display: flex;
  justify-content: space-around;
  width: 270px;
  height: 90px;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 30px;
  margin-right: 38px;
  text-align: center;
  margin-bottom: 18px;
}
.fix-title-menu > span {
  border-right: 1px solid #ccc;
  height: 45px;
  margin-top: 5px;
}
.fix-title > h2 {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
}
.fix-title > p {
  color: #ccc;
  font-size: 14px;
}

/* 트리플 패스 */
.we-class {
  background-color: #3e3e3e;
  width: 280px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.we-class:hover {
  background-color: #2e2e2e;
}
.focused {
  outline: 2px solid #fff;
}
.we-class > h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 5px;
}
.we-class > p {
  font-size: 15px;
}
.we-class > p > span {
  font-size: 12px;
  color: red;
  padding-right: 10px;
}
.we-class i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
}
.we-class-info-text {
  display: none;
  background-color: transparent;
  position: absolute;
  text-align: center;
  width: 220px;
  height: 40px;
  line-height: 40px;
  bottom: 42px;
  right: -270px;
  font-size: 14px;
  border: solid 1px #ccc;
  border-radius: 2px;
  overflow: hidden;
}

/* 개별 클래스 */
.me-class {
  background-color: #3e3e3e;
  width: 280px;
  height: 79px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.me-class:hover {
  background-color: #2e2e2e;
}
.me-class > h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 5px;
}
.me-class > p {
  font-size: 15px;
}
.me-class > p > span {
  font-size: 12px;
  color: red;
  padding-right: 10px;
  cursor: pointer;
}

/* 준비물 */
.custom-selector {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 14px;
}
.custom-selector option {
  background-color: #e8eddf;
  color: #000;
  border-radius: 20px;
  font-size: 14px;
}
.custom-all {
  display: flex;
  flex-direction: column;
}
#preparation {
  width: 280px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  text-overflow: ellipsis;
  color: #e8eddf;
  font-family: "NanumSquare" !important;
}
#result {
  margin-top: 20px;
  display: none; /* 초기에는 결과 숨김 */
}
#customDiv {
  display: none; /* 초기에는 숨김 */
}

/* 준비물 박스 */
.custom-box {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px;
  margin-bottom: 5px;
  font-family: "NanumSquare" !important;
}
.custom-image {
  display: flex;
}
.custom-image > p {
  font-size: 14px;
  margin-left: 10px;
}
.custom-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* 숫자증가 박스 */
.number-box {
  display: flex;
  border: solid 1px #ccc;
  font-family: "NanumSquare" !important;
}
#increaseButton {
  padding: 0 8px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  transition: 0.1s;
}
#increaseButton:hover{
  background-color: #aaa;
}
#quantity {
  font-size: 14px;
  padding-top: 5px;
}
#decreaseButton {
  padding: 0 8px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
#decreaseButton:hover {
  background-color: #aaa;
}

/* 가격 박스 */
.price-box {
  display: flex;
  margin-top: 3px;
  font-size: 15px;
}
.x-box {
  width: 16px;
  height: 16px;
  font-size: 12px;
  border: solid 1px #ccc;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 5px;
  transition: 0.1s;
}
.x-box:hover{
  background-color: #aaa;
}
.custom-span {
  font-size: 13px;
  cursor: pointer;
  margin-left: 145px;
}

/* 클래스 신청 버튼 */
.button-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  position: relative;
}
.me-registration {
  width: 280px;
  border: 0;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 13px 0;
  background-color: #f7a800;
  color: #000;
  font-family: "NanumSquare" !important;
}
.me-registration:hover {
  background-color: #b87d00;
}
.me-registration > h2 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 900;
  /* color: #ffffff; */
}
.we-plus {
  font-size: 14px;
  margin-right: auto;
  display: inline-block;
  margin-left: 30px;
}
.we-registration {
  width: 280px;
  border: 0;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 13px 0;
  background-color: #178fff;
  color: #000000;
  font-family: "NanumSquare" !important;
}
.we-registration:hover {
  background-color: #0062be;
}
.we-registration > h2 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 900;
  /* color: #ffffff; */
}
.button-box h2 i {
  font-size: 17px;
  font-weight: 900;
  transition: 0.3s;
}
.button-box h2:hover i{
  transform: translateX(3px);
}
/* 기본 스타일 */
.linked-text {
  position: absolute;
  top: 83px;
  left: 30px;
}

.linked-text::after {
  content: ""; /* 가상 요소 내용 없음 */
  position: absolute;
  width: 100%;
  height: 2px; /* 밑줄의 높이 설정 */
  background-color: rgb(216, 216, 216); /* 밑줄 색상 설정 */
  left: 0;
  bottom: 0;
  transform: scaleX(0); /* 밑줄의 초기 너비를 0으로 설정하여 숨깁니다. */
  transform-origin: bottom right;
  transition: transform 0.3s ease; /* 밑줄 너비에 대한 애니메이션 효과 설정 */
}

/* 버튼 호버 시 밑줄이 나타나도록 변경 */
.we-registration:hover + .linked-text::after {
  transform: scaleX(1); /* 밑줄 너비를 100%로 변경하여 나타나게 합니다. */
  transform-origin: bottom left;
}

/* 폰트 스타일 한번 더 저장 */
body {
  font-family: "NanumSquare" !important;
}