/* 탑 버튼 */
.top-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
    width: auto;
    transition: 0.3s ease;
  }
  .top-btn {
    display: block;
    background-color: #e45e5e96;
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    text-align: center;
  }
  .top-btn img {
    transition: transform 0.3s ease;
  }
  .top-chat-button {
    width: 80px;
    margin-bottom: 10px;
    transition: 0.3s;
    position: relative;
  }
  .top-chat-button::after {
    content: "5";
    position: absolute;
    right: -5px;
    top: 15px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: red;
  }
  .top-chat-button:hover {
    scale: 1.5;
    transform: translate(-10px, -20px);
  }
  .top-chat-button:hover p {
    opacity: 1;
  }
  .top-chat-button p {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 700;
    transition: 0.3s;
    opacity: 0;
  }
  @media all and (max-width: 1024px) {
    .top-button{
      margin-bottom: 60px;
    }
  }
  @media all and (max-width: 768px) {
    .top-btn{
      width: 30px;
      line-height: 30px;
    }
    .top-chat-button{
      width: 50px;
    }
    .top-chat-button:hover{
      scale: 1.2;
    }
  }
  @media all and (max-width: 480px) {
    .top-button{
      right: 20px;
      bottom: 20px;
    }
    .top-btn{
      width: 30px;
      line-height: 30px;
    }
    .top-chat-button{
      width: 50px;
    }
    .top-chat-button:hover{
      scale: 1.2;
    }
  }