.tip-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.tip-logo{
    height: 33px;
}
.tip-inner{
    display: flex;
    justify-content: space-between;
}
.tip-cate{
    width: calc(90% / 3); 
    text-align: center;
    display: flex;
    flex-direction: column;
}
.tip-cate a{
    background-color: #d3d8cb;
    color: #d3d8cb;
    border-radius: 30px; 
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    margin-bottom: 25px;
}
.tip-cate a span{
    font-size: 45px;
    font-weight: 900;
    top: 5px;
    position: absolute;
}
.tip-cate a img{
    z-index: 1;
    width: auto;
    height: auto;
}
.grouptip img{
    border-radius: 30px;
}
.tip-cate a:hover{
    background-color: #4f524f;
}
.tip-cate span{
    font-size: 23px;
    font-weight: 900;
}
.tip-sub-title{
    display: flex;
    flex-direction: column;
}
.tip-sub-title > span:last-child{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.tip-sub-title{
    margin-bottom: 10px;
}
@media all and (max-width:1024px){
    .tip-title span{
        font-size: 30px;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 30px;
    }
    .tip-sub-title span:first-child{
        font-size: 20px;
    }
    .tip-sub-title span:last-child{
        font-size: 14px;
    }
}
@media all and (max-width:768px){
    .tip-title span{
        font-size: 30px;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 18px;
    }
    .tip-sub-title span:first-child{
        font-size: 20px;
    }
    .tip-sub-title span:last-child{
        font-size: 14px;
    }
}
@media all and (max-width:690px){
    .tip-title span{
        font-size: 30px;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 20px;
    }
    .grouptip img{
        border-radius: 15px;
    }
    .tip-sub-title span:first-child{
        font-size: 15px;
    }
    .tip-sub-title span:last-child{
        font-size: 12px;
    }
}
@media all and (max-width:480px){
    .tip-title{
        font-size: 26px;
        width: 100%;
        flex-wrap: wrap;
    }
    .tip-logo{
        width: 40%;
        height: auto;
    }
    .tip-title span{
        font-size: 27px;
    }
    .tip-inner{
        width: 100%;
        flex-direction: column;
    }
    .tip-cate{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .tip-cate a{
        width: 50%;
        padding: 25px;
    }
    .tip-sub-title{
        width: 50%;
        justify-content: center;
        align-items: center;
        line-height: 23px;
    }
}